@model Entities.Urun

@{
    ViewBag.Title = "Sil";
}

<h2>Sil</h2>

<h3>Emin misiniz?</h3>
<div>
    <h4>Ürün Bilgileri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Musteri.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Musteri.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cinsi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cinsi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Olcu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Olcu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tutar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlisTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlisTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeslimTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeslimTarihi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Listeye Dön", "Index")
        </div>
    }
</div>
